// Colors
$maroon: #7d0046;
$white: #eceff1;
$grey: #90a4ae;
$dark-grey: #455a64;
$black: #263238;
$med-grey: #455a64;

// Units
$base: 2rem;

$xxs: .2rem;
$xs: .4rem;
$s: .8rem;
$m: 1.6rem;
$l: 2.4rem;
$xl: 3.6rem;
